<%= render "top" %>
<% if @numberOfFollowings>0 %>


<div class="followings-container">
<% if @numberOfFollowings >2 %>
<h4>Followings</h4>
<% else %>
<h4>Following</h4>
<% end %>
</div>	





<div class="followings-container">	
<div class="col-4 col-sm-4 col-lg-4">
     		<% count = 1 %>
	  		<% @followings.each do |following| %>
			<% if count%3==0 %>



      		<div class ="thumbnail">
      		<% social_identity = Identity.where(user_id: following, provider: "facebook") %>
			<% if social_identity[0] != nil %>
				<% graph = Koala::Facebook::API.new(Koala::Facebook::OAuth.new("878916972138133","1c19d3ff9cf496854d4e506030f592b1").get_app_access_token) %>
				<% profile_path = graph.get_picture(social_identity[0].uid, type: "small") %>
				<%= image_tag profile_path, class: "person" %>
				<% else %>
				<%= image_tag "person.jpg", class: "person" %>
			<% end %>

      		<% user = User.where(id: following) %>
      		<%= link_to user[0].firstname,profiles_index_path(following), class: "following-thumbnail" %>
      		
      		</div>			



     
    
    <% end %>
  <% count += 1 %>
  <% end %>
  </div>



<div class="col-4 col-sm-4 col-lg-4">
		    <% count = 1 %>
	  		<% @followings.each do |following| %>
			<% if count%3==1 %>

	<div class ="thumbnail">
      		<% social_identity = Identity.where(user_id: following, provider: "facebook") %>
			<% if social_identity[0] != nil %>
				<% graph = Koala::Facebook::API.new(Koala::Facebook::OAuth.new("878916972138133","1c19d3ff9cf496854d4e506030f592b1").get_app_access_token) %>
				<% profile_path = graph.get_picture(social_identity[0].uid, type: "small") %>
				<%= image_tag profile_path, class: "person" %>
				<% else %>
				<%= image_tag "person.jpg", class: "person" %>
			<% end %>

      		<% user = User.where(id: following) %>
      		<%= link_to user[0].firstname,profiles_index_path(following), class: "following-thumbnail" %>
      		
      		</div>			

    

    <% end %>
  <% count += 1 %>
  <% end %>
    </div>


<div class="col-4 col-sm-4 col-lg-4">
		    <% count = 1 %>
	  		<% @followings.each do |following| %>
			<% if count%3==2 %>
		
    				 	<div class ="thumbnail">
      		<% social_identity = Identity.where(user_id: following, provider: "facebook") %>
			<% if social_identity[0] != nil %>
				<% graph = Koala::Facebook::API.new(Koala::Facebook::OAuth.new("878916972138133","1c19d3ff9cf496854d4e506030f592b1").get_app_access_token) %>
				<% profile_path = graph.get_picture(social_identity[0].uid, type: "small") %>
				<%= image_tag profile_path, class: "person" %>
				<% else %>
				<%= image_tag "person.jpg", class: "person" %>
			<% end %>

      		<% user = User.where(id: following) %>
      		<%= link_to user[0].firstname,profiles_index_path(following), class: "following-thumbnail" %>
      		
      		</div>			


    
    <% end %>
  <% count += 1 %>
  <% end %>
  </div>
</div>
<% else %>
<div class="followings-container">
<div class="calvin-lonely-image">
	<%= image_tag "Hobbes-calvin-alone.png", height: "100%", width: "100%" %>
	</div>
	<div class="no-follower">
		 <%= @userFirstName[0] %> isn't following anyone.
	</div>

</div>
<% end %>


<style>
.working-stories{
  margin-top: -2.5vw;
  position: absolute;
  margin-left: 9vw;
}
.created-stories{
  margin-top: 8vw;
}
</style>
