<%= form_for(@plotphoto) do |f| %>
  <% if @plotphoto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plotphoto.errors.count, "error") %> prohibited this plotphoto from being saved:</h2>

      <ul>
      <% @plotphoto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :plot_id %><br>
    <%= f.number_field :plot_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
